@import "./utils/variables.scss";
@import "./utils/reset";
@import "./utils/container";
@import "./utils/section";
@import "./utils/backdrop";
@import "./utils/hidden";
@import "./utils/wrapper";

@import "./components/header";
@import "./components/logo";
@import "./components/headline";
@import "./components/huge-button";
@import "./components/modal";
@import "./components/abilities";
@import "./components/customer";
@import "./components/section_headline";
@import "./components/skills";
@import "./components/icon-social";
@import "./components/team";
@import "./components/wrapper_social";
@import "./components/filter";
@import "./components/portfolio";
@import "./components/footer";
