.header-border {
  border-bottom: 1px solid var(--border-color);
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding-block: 24px;
}

.nav {
  margin-left: 93px;
}

.nav__menu {
  display: flex;
  gap: 50px;
}

.nav__link-button {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.nav__link-button--active {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--brand-color);
    left: 0px;
    top: 46px;
    border-radius: 2px;
  }
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.header-contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.icon-tel {
  fill: currentColor;
  margin-right: 10px;
}
