.icon-social {
  fill: var(--border-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
  &:hover {
    background-color: var(--brand-color);
    fill: var(--white-color);
  }
}
