.header-wrapper {
  &--mobile {
    display: flex;
    justify-content: space-between;
    padding-block: 16px;
    align-items: center;
  }
}
.skills-section {
  display: none;
}

@media (max-width: 320px) {
  .header-wrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-wrapper--mobile {
    display: none;
  }
}

.is-open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 2;
}

.mobile-menu__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.toggle-menu {
  background-color: transparent;
  padding: 0;
}

.close-menu-absolute {
  position: relative;
}

.close-menu {
  position: absolute;
  right: 15px;
  top: 10px;
  &__icon {
    background-color: transparent;
    padding: 0;
    &:hover {
      fill: var(--brand-color);
    }
  }
}

.mobile-nav {
  margin-bottom: auto;
  &__list {
    margin-bottom: 32px;
  }
  &__link {
    color: inherit;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    &--active {
      color: var(--brand-color);
    }
  }
}
.mobile-contact {
  font-weight: 500;
  letter-spacing: 0.02em;
  &--primary {
    margin-bottom: 32px;
  }
  &--secondary {
    margin-bottom: 64px;
  }
  &--tel {
    font-size: 34px;
    line-height: 40px;
    color: var(--brand-color);
  }
  &--mail {
    color: var(--link-color);
    font-size: 24px;
    line-height: 28px;
  }
}

.mobile-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  margin-left: 40px;
  height: 100vh;
  width: 100vw;
  &__wrapper {
    margin-bottom: auto;
    margin-top: 48px;
  }
}
// .mobile-flex {
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }

.mobile-social {
  display: flex;
  align-items: center;
  &__item {
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    &--elem {
      padding-inline: 10px;
      &::after {
        content: "";
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100vw;
  }
  .header-wrapper {
    display: none;
  }
  .nav {
    display: none;
  }
  .header-contacts {
    display: none;
  }
}
