.modal {
  position: absolute;
  cursor: default;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  height: 581px;
  width: 528px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
}

.modal__header {
  color: var(--black-text);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}

.modal-form__icon {
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.modal-form__fieldset {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0;
  padding-left: 15px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, color;
  &:focus-within,
  &:hover {
    border-color: var(--brand-color);
  }
  &:focus-within .modal-form__icon,
  &:hover .modal-form__icon {
    color: var(--brand-color);
  }
  &:focus-within .modal-form__input {
    outline: none;
  }
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus-within {
    border-color: var(--brand-color);
  }
  &:focus-within {
    outline: none;
  }
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  color: var(--link-color);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal-form__input {
  height: 100%;
  width: 90%;
  margin-left: 15px;
  border: none;
}

.modal-form-legal {
  border: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.modal-form-legal__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:has(input:checked) .checkmark__checked {
    opacity: 1;
  }
}

.modal-form__checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-text);
  border-radius: 2px;
}

.checkmark__checked {
  position: absolute;
  top: -2px;
  left: -2px;
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

.modal-form-checkbox-text {
  color: var(--link-color);
  line-height: 1.71;
}

.modal-form-checkbox-text__link {
  color: var(--brand-color);
  text-decoration: underline;
  &:visited {
    color: var(--brand-color);
  }
}

.huge-button--modal {
  margin-inline: auto;
  margin-top: 30px;
}
