:root {
  --white-color: rgba(255, 255, 255, 1);
  --link-color: rgba(117, 117, 117, 1);
  --black-text: rgba(33, 33, 33, 1);
  --brand-color: rgba(33, 150, 243, 1);
  --second-brand-color: rgba(0, 0, 0, 1);
  --second-background: rgba(47, 48, 58, 1);
  --second-link-color: rgba(255, 255, 255, 0.6);
  --button-color: rgba(245, 244, 250, 1);
  --border-color: rgba(236, 236, 236, 1);
  --shadow: rgba(47, 48, 58, 0.4);
  --border-grey: rgba(175, 177, 184, 1);
}
